@page{
  size: A4;
  margin: 0.5cm;
  orphans:4;
  widows:2;
}

body{
  -webkit-print-color-adjust: exact;
}

.page{
  page-break-after: always;
}

.border{
  margin-top: 1cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

.border2{
  margin-top: 0.5cm;
  margin-right: auto;
  margin-left: 0.5cm;
}

table{
  margin-right: auto;
  margin-left: auto;
  border-collapse:collapse;
}

.table1{
  font-size: 20px; 
  width: 70%;
  border: 3px solid #000;
  text-align: center;
}

.table2{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border: 2px solid #000;
}

.margin{
  margin-bottom: 150px;
}

.header{
  background-color:rgb(71, 124, 184) !important;
  color: white;
  text-align: center;
}

.unit{
  margin-left: 75%;
}

h1{
  font-size: 22pt;
  font-style: italic;
  text-decoration: underline double;
}

h2{
  font-size: 20pt;
  font-style: italic;
  text-decoration: underline double;
}