:root {
  --page-height: 1123px;
  --page-width: 794px;
  --preview-height: calc(var(--page-height) - 100px);
  --preview-width: calc(var(--page-width) - 2cm);
}

.table{
  margin-right: auto;
  margin-left: auto;
}

.border2{
  margin: 1cm;
}

.border{
  margin-top: 2cm;
  margin-bottom: 2cm;
  margin-left: 1cm;
  margin-right: 1cm;
}

.margin{
  margin-bottom: 150px;
}

#preview, #upload{
  height: var(--preview-height);
  width: var(--preview-width);
}

#upload{
  position: absolute;
  opacity: 0;
  background-color: #ffffff;
}

#preview > p{
  display: flex;
  align-items : center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  border-radius: 10px;
  border: 1px rgb(141, 130, 130) solid;
}

#preview > img, #preview > canvas, #preview > p{
  height: 100%;
  width: 100%;
}

.table1{
  margin-right: auto;
  margin-left: auto;
  font-size: 20px; 
  width: 80%;
  border: 3px solid #000 ;
  text-align: center;
  border-collapse:collapse;
}

.table1 > tr > td{
  text-align:left;
}

.table2{
  width: 100%;
  border: 2px solid #000;
  border-collapse:collapse;
}

.page{
  width: var(--page-width);
  height: var(--page-height);
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000;
}

.header{
  background-color:rgb(71, 124, 184) !important;
  color: white;
  text-align: center;
}

.unit{
  margin-left: 74%;
}

h1{
  font-size: 20pt;
  font-style: italic;
  text-decoration: underline double;
}

h2{
  font-size: 18pt;
  font-style: italic;
  text-decoration: underline double;
}

p{
  font-size: 10pt;
}

.sinput{
  width: 205px;
  font-size: 15px;
}

.cinput{
  width: 65px;
  font-size: 15px;
}

.btn{
  width: 100%;
  margin: 10px;
  font-size: 30px;
}

.btnBlock{
  width: 200px;
  position: fixed;
  right: 3%;
  bottom: 3%;
}