@page{
  size: A4;
  margin: 0.5cm;
  orphans:4;
  widows:2;
}

body{
  -webkit-print-color-adjust: exact;
}

.page{
  page-break-after: always;
}

.normal-border{
  margin-top: 1cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

.upload-border{
  margin-top: 0.5cm;
  margin-right: auto;
  margin-left: auto;
  
  #upload, #upload-message{
    display: none;
  }

  p{
    font-size: 40pt;
    text-align: center;
  }

  #preview {
    img, canvas{
      height: 100%;
      width: 100%;
    }
  }
}

table{
  margin-right: auto;
  margin-left: auto;
  border-collapse:collapse;
}

.title-table{
  font-size: 20px; 
  width: 70%;
  border: 3px solid #000;
  text-align: center;

  tr{
    th{
      width:30%; 
      padding: 10px; 
      text-align:center;
    }
    #date{
      padding: 10px; 
      font-size: 32px;
    }
  }
}

.content-table{
  width: 100%;
  border: 2px solid #000;

  .header{
    background-color:rgb(71, 124, 184) !important;
    color: white;
    text-align: center;
  }
}

.margin{
  margin-bottom: 150px;
}

.unit{
  margin-left: 75%;
}

.text{
  text-align: end;
  position: absolute;
  width: calc(100% - 2px);
  top: 1px;
  right: 1px;
}

.bar{
  background-color: rgb(130, 110, 216);
  height: calc(100% - 2px);
  position: absolute;
  top: 1px;
}

h1{
  font-size: 20pt;
  font-style: italic;
  text-decoration: underline double;
}

h2{
  font-size: 18pt;
  font-style: italic;
  text-decoration: underline double;
}

.btnBlock{
  display: none;
}

.unhover{
  border: 5px #c5d3eb dotted;
  div{
    margin-top: 250px;
    p{
      color:#c5d3eb;
    }
    svg{
      height: 150px;
      width: 150px;
      path{
        fill:#c5d3eb;
      }
    }
  }
}

fieldset{
  padding: 0;
  border: none;
}